.container-1, .container-2, .container-3, .container-4{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center; 
}
 
 .flex-box-container-1, .flex-box-container-2, .flex-box-rps,.flex-box-pick-color{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: space-around;
}
.flex-box-container-1 div {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}
.flex-box-container-3 {
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}
.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37, 50, 233, 1);
}